.root {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 14px;
  background: #F5F5F5;
  color: #202020;
  transition: 150ms ease-out;
  &:hover{
    color: #F5F5F5;
    background: #202020;
  }
  &:active{
    color: #F5F5F5;
    background: #202020;
  }
}

.downloadIcon {
  position: absolute;
}

.focused {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 14px;
  background: #202020;
  color: #F5F5F5;
  transition: 150ms ease-out;
}

