@font-face {
  font-family: Inter;
  src: url('../../../assets/fonts/static/Inter-Regular.ttf');
}

.root {
  display: flex;
  flex-flow: column;
  //width: 453px;
  width: 33.8%;
  //height: 640px;
  //height: 100%;
  border-radius: 24px;
  background: #FFF;
  gap: 12px;
  overflow: hidden;
}

.scroll {
  overflow-y: scroll;
  display: block;
  margin-top: auto;
  scroll-behavior: smooth;
  //height: 70%;
}

.flex {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  width: 405px;
  padding: 24px;
  align-items: flex-start;
  color: #202020;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  //line-height: 34px; /* 121.429% */
  line-height: 121.429%;
  letter-spacing: -0.59px;
}

.button {
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.serverMessage {
  overflow-wrap: break-word;
  position: relative;
  align-self: flex-start;
  margin: 8px 24px;
  max-width: 50%;
  padding: 8px 14px;
  border-radius: 15px 15px 15px 12px;
  background-color: #F5F5F5;
  font-family: Inter, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.18px;
}

.userMessage {
  margin: 8px 24px;
  position: relative;
  align-self: flex-end;
  max-width: 50%;
  overflow-wrap: break-word;
  padding: 8px 14px;
  color: #FFF;
  border-radius: 15px 15px 15px 12px;
  background-color: #121212;
  font-family: Inter, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.18px;
}

.tailBlack {
  color: #121212;
  position: absolute;
  bottom: -0.35rem;
  right: -0.3rem;
}

.tailWhite {
  position: absolute;
  bottom: -0.35rem;
  left: -0.3rem;
  width: 0.5625rem;
}

.inputAndButton {
  display: flex;
  flex-direction: row;
  //margin-top: auto;
  padding: 24px;
  align-items: stretch;
  background: #FFF;
}

.inputContainer {
  display: flex;
  width: 89%;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 100px;
  border: 1px solid #EBEBEB;
  background: #FFF;
}

.input {
  display: flex;
  width: 89%;
  padding: 5.7px 13px;
  flex: 1 0 0;
  border-radius: 100px;
  border: 1px solid #EBEBEB;
  background: #FFF;
  color: #202020;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 146.667% */
  letter-spacing: -0.13px;
}

.button {
  display: flex;
  margin-left: 8px;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  background: #202020;
  &:hover{
    color: #F5F5F5;
    background: #282828;
  }
  &:active{
    color: #F5F5F5;
    background: #343434;
  }
}

.serverGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.userGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
